<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{Devoured}}">
		{{#if Devoured}}Devour It! {{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>
